.clear:after {
    content: "";
    display: table;
    clear: both;
  }


*{
    box-sizing: border-box;
    line-height: 1.5;
    padding: 0;
}

body{
    width: 80%;
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.container{
    height: 100vh;

}
#title{
  text-align: center;
  font-family: 'Slabo 27px', serif;
}
/* Search box styles */
#search-box{
    display: flex;
    justify-content: center;
    margin:5em 0 2em 0;
    border: none;
}

#search{
  height:30px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #FDA7DF;

}



#search-box input:focus,
#search-box input:hover{
border-bottom: 3px solid #FDA7DF;
transform: scale(1.2);
transition-duration: .5s;
transition-property: all;
}


/* End of search box styles*/
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    margin: 5em 0;
}



.gallery img{
    display: block;
    width: 100%;
    filter: grayscale(100%);
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.05);
    box-shadow: 0 50px 40px rgba(253, 121, 168, 1);
    transition-duration:.5s;
}

footer{
    bottom: 0px;
    width: 80%;
    left: 10%;
    position: absolute;
    position: fixed!important;
    height: 40px;
    background-color: silver;
    color: white;
    text-align: center;
}



@media only screen and (min-width:420px){
    .gallery{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;

    }

}

@media only screen and (min-width:629px){
    .gallery{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}

@media only screen and (min-width:899px){
    .gallery{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}
